:root {
    --body-bg-color: #F4F7FA;
    --content-bg-color: #FFFFFF;
    --headshot-size: 170px;
    --icon-color: #8496BC;
    --badge-bg-color: #E4E9F2;
    --badge-color: #B1C0D8;
    --bar-color: #8497BC;
    --skill-badge-bg: #4F6591;
    --item-header-color: #354765;
}

body {
    background-color: var(--body-bg-color);
    min-width: 435px;
}

div.main {
    background-color: var(--content-bg-color);
    border-radius: 5px;
    padding: 0 50px;
}

div.img-container {
    height: var(--headshot-size);
    position: relative;
    margin-top: 120px;
    margin-bottom: -75px;
}

div.img-container img {
    width: var(--headshot-size);
    height: var(--headshot-size);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid var(--content-bg-color);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

a.contact-anchor {
    color: black;
    font-weight: lighter;
    text-decoration: none;
}

a.contact-anchor:hover {
    color: black;
    font-weight: 250;
}

a.project-anchor {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

a.project-anchor:hover {
    font-weight: 800;
}


div.resume-part {
    margin: 2rem 0;
}

i.resume-icon {
    border-radius: 50%;
    display: inline-flex;
    background: var(--icon-color);
    color: var(--body-bg-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 1.125rem;
    margin-right: 0.5rem;
}

h4.resume-header {
    font-weight: 300;
}

h4.top-resume-header {
    margin-bottom: 1.5rem;
}

div.experience {
    margin: 1rem 0 0 1.5rem;
}

div.experience ul {
    margin-left: -1rem;
}

div.work-experience {
    display: flex;
    position: relative;
    padding-left: 1.5rem;
}

/* Little dots in experience timeline */
div.work-experience::before {
    content: "";
    display: inline-block;
    border: 2px solid var(--badge-color);
    background-color: var(--badge-bg-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 2.5rem;
}

div.all-experience {
    position: relative;
}

/* Vertical bar in experience timeline */
div.all-experience::before {
    content: "";
    display: inline-block;
    border: 2px solid var(--badge-color);
    background-color: var(--badge-bg-color);
    width: 3px;
    height: 100%;
    position: absolute;
    left: 2.8px;
    top: 10px;
} 

div.work-experience-time, 
div.work-experience-company {
    font-weight: 200;
}

div.work-experience-company {
    background-color: var(--badge-bg-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
}

div.experience-container {
    margin-bottom: 4rem;
}

ul.ul-unstyled {
    padding-left: 0;
    list-style: none;
}

li.list-inline-item {
    display: inline-block;
}

span.skill-badge {
    background-color: var(--skill-badge-bg);
    color: #fff;
    padding: 0.5rem 0.65rem;
    margin-bottom: 0.5rem;
}

div.resume-progress {
    border-radius: 0.25rem;
    background: var(--badge-bg-color);
    height: 0.3rem;
    margin-bottom: 1rem;
}

div.resume-progress-bar {
    border-radius: 0.25rem;
    color: #fff;
    background: var(--bar-color);
}

div.item {
    margin-bottom: 1.2rem;
}

i.item-icon {
    font-size: 0.5rem;
    vertical-align: middle;
    position:relative;
    top: -1.5px;
}

h5.item-heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--item-header-color);
}

div.item-description {
    font-size: 0.9rem;
    padding-left: 1.35rem;
}