:root {
    --body-bg-color: #F4F7FA;
    --content-bg-color: #FFFFFF;
    --headshot-size: 170px;
    --icon-color: #8496BC;
}

body {
    background-color: var(--body-bg-color);
    min-width: 435px;
}

div.main {
    background-color: var(--content-bg-color);
    border-radius: 5px;
    padding: 0 50px;
}

div.img-container {
    height: var(--headshot-size);
    position: relative;
    margin-top: 120px;
    margin-bottom: -75px;
}

div.img-container img {
    width: var(--headshot-size);
    height: var(--headshot-size);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid var(--content-bg-color);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

a {
    color: black;
    font-weight: lighter;
    text-decoration: none;
}

a:hover {
    color: black;
    font-weight: 250;
}

div.resume-part {
    margin: 2rem 0;
}

i.resume-icon {
    border-radius: 50%;
    display: inline-flex;
    background: var(--icon-color);
    color: var(--body-bg-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 1.125rem;
    margin-right: 0.5rem;
}

h4.resume-header {
    font-weight: 300;
}

div.work-experience {
    display: flex;
    position: relative;
    padding-left: 1.5rem;
}

div.work-experience::before {
    content: "• ";
    color: darkgray;
    position: absolute;
    left: 0;
    bottom: -10px;
    font-size: 2rem;
}

div.work-experience-time, 
div.work-experience-company {
    font-weight: 200;
}

h5.experience-title {
    margin: 0.25em 0 0 1.1em;
}

div.experience-container {
    margin-bottom: 4rem;
}